<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BrokerTemplates | Templates Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:thin" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/full-width-pics.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2E93FF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#2E93FF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#2E93FF">

</head>

<body>

    <!-- Navigation -->
    <!-- Need to address the navbar on these subpages -->
    <nav class="navbar navbar-default navbar-fixed-top change-color">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand smoothScroll" href="../index.html"><b><em>Broker</em><span class="blue">Templates</span></b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="smoothScroll" href="../about/index.html">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Templates <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="spreadsheets/index.html">Spreadsheets</a></li>
                            <li><a href="index.html">All Templates</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Coming Soon</li>
                            <li><a class="smoothScroll" href="#">Documents</a></li>
                            <li><a class="smoothScroll" href="#">Presentations</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="smoothScroll" href="../blog/index.html">Blog</a>
                    </li>
                    <li>
                        <a class="smoothScroll" href="../resources/index.html">Resources</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header id="main" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1 class="top-margin-xl section-heading">Templates Page</h1>
                    <p class="lead section-lead">We are dedicated to providing
                        you with the best resources to win and close more deals.
                        We are constantly adding new templates so be sure to
                        check back here often. You can also stay-up-to-date by
                        entering your email below.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup form-group">
                    <form action="https://brokertemplates.us14.list-manage.com/subscribe/post?u=1d95eb95e0f50d8aec8927829&amp;id=596c19822f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="input-group">
                                <div class="mc-field-group">
                                    <label class="control-label" for="mce-EMAIL"></label>
                                    <input class="form-control" placeholder="you@example.com" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>

                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Sign up</button>
                                </span>
                            </div>
                         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1d95eb95e0f50d8aec8927829_596c19822f" tabindex="-1" value=""></div>

                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Content Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 hidden-xs">
                    <img class="img-responsive" src="../img/laptop.png" alt="laptop with spreadsheet">
                </div>
                <div class="col-lg-6 top-margin-lg">
                    <a href="spreadsheets/index.html">
                        <h2 class="section-heading">Spreadsheets</h2>
                    </a>
                    <a href="#">
                        <h2 class="section-heading">Documents</h2>
                    </a>
                    <p>Coming soon</p>
                    <a href="#">
                        <h2 class="section-heading">Presentations</h2>
                    </a>
                    <p>Coming soon</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; Broker<span class="blue">Templates</span> 2016
                        <span class="pull-right"><a href="../legal/index.html">Legal</a></span>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Navbar transition -->
    <!-- <script src="js/navbar.js"></script> -->

    <!-- Scroll -->
    <script src="../js/scroll.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89554925-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>
