.post-heading {
    text-shadow: 2px 2px #000;
}

/*-- change navbar dropdown color --*/
  .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    /*background-color: transparent;*/
    color:#000;
  }

.twitter-share-button {
    background-color: #1da1f2 !important;
    border-color: #1da1f2 !important;
    border-radius: 2px !important;
    margin: 0 5px;
}

.facebook-share-button {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    border-radius: 2px !important;
    margin: 0 5px;
}

.linkedin-share-button {
    background-color: #0077b5 !important;
    border-color: #0077b5 !important;
    border-radius: 2px !important;
    margin: 0 5px;
}
